<header class="header">

    <div class="logo">JAMES CONSULTING</div>

    <nav class="nav">
        <a href="about.html">About</a>
        <a href="#services-page">Services</a>
        <a href="projects.html">Projects</a>
        <a href="plans&Pricing.html">Plans &amp; Pricing</a>
        <a href="tools&Tips.html">Tools &amp; Tips</a>
        <a href="#consult-section">Contact</a>

        <a href="login.html" class="login">
            <i class="fa fa-user"></i> Log In
        </a>
    </nav>

</header>

<link rel="stylesheet" href="global.css">
<script src="js/header.js"></script>